@model WebApplication2.Models.Config

@{
    ViewBag.Title = "DeleteHandlerUserApproval";
}

<h2>Are you sure you want to delete this directory handler?</h2>

<button type="button" id="yes">yes</button>
<button type="button" id="cancel">cancel</button>
<script>
 var yes = document.getElementById("yes");
 yes.onclick = function () {
     $(':button').prop('disabled', true)
     location.href = '@Url.Action("DeleteApproved", "First")';
    };
 var cancel = document.getElementById("cancel");
 cancel.onclick = function () {
     location.href = "Index";
    };

</script>
