@model  WebApplication2.Models.Logs
@{

    ViewBag.Title = "Log";

}

<h2>LogView</h2>

<div>
    <ul id="logsList">
        @{
            var index = 0;
            foreach (var log in Model.logArr)
            {
                <li id="log_@index"> @log.Type: @log.Message</li>
                index++;
            }
        }
    </ul>

    <br />
    <p>Search log </p>
    <input type="text" width="20" id="filter"><br>
    <button type="button" id="sreachLog"> search! </button>
</div>

<script>
    $("#sreachLog").click(function () {
        var logslist, filter, logText, i;
        logslist = document.getElementById('logsList');
        logslist = logslist.children;
        filter = document.getElementById('filter').value;

        for (i = 0; i < logslist.length; i++) {
            var logid = logslist[i].id;
            $("#" + logid.toString()).show();
        }

        for (i = 0; i < logslist.length; i++) {
            logText = logslist[i].innerHTML.toString();
            if (logText.indexOf(filter) < 0) {
                var logid = logslist[i].id;
                $("#" + logid.toString()).hide();
            } 
        }
    });
</script>
