
@{
    ViewBag.Title = "LogView";
}

<h2>LogView</h2>

<div>
    <ul id = "logsList">
        <li>try li</li>
    </ul>
 </div>

<script>
  //  $.get("@Url.Action("GetLogs")", function (data) {
   //     for (var index = 0; infrx < 2; inedex++) {
   //         $("#logsList").append("<li>" + data[index] + "</li>");
   //     }    
   //     }, "json")();
    $.get("@Url.Action("GetLogs")";

</script>