<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\Omer Dekel\Desktop\dor;C:\Users\Omer Dekel\Pictures\pict"/>
    <add key="OutputDir" value="C:\Users\Omer Dekel\source\repos\ImageService\WebApplication2\md"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key="ThumbnailSize" value="120"/>
  </appSettings>
</configuration>